@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*       Variables Colors   */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}

html {
  font-size: 16px;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "Shrirkhand", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  padding: 1rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  border: transparent;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 0 3rem 0;
  padding: 1rem 1.5rem;
  text-align: center;
  -webkit-box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.15);
}

.button:hover, .button-2:hover {
  -webkit-box-shadow: 2px 1px 14px -3px #000;
  box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.6);
  opacity: 0.7;
}

.button-2 {
  background-image: linear-gradient(#ff79da, #9356dc);
  border: transparent;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 0 3rem 0;
  padding: 1rem 1.5rem;
  text-align: center;
  -webkit-box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.15);
}

@keyframes animMenu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
header {
  height: 3.625rem;
  border: rgb(231, 229, 229) 2px solid;
}
header .header-content {
  border: rgb(231, 229, 229);
  background-color: #fff;
}
header .logo__pages {
  width: 100%;
  text-align: center;
}
header .logo__pages #logo {
  background: transparent;
  padding: 1rem;
  width: 200px;
}
header .localisation {
  background-color: darkgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.0825rem;
  padding: 1rem;
  -webkit-box-shadow: 2px 1px 14px -3px #000;
  box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.6);
}
header .localisation p {
  line-height: 0.0625em;
  margin-left: 1rem;
}

.navigation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.625rem;
}
.navigation h1 {
  display: block;
  text-align: center;
  padding-top: 0.825rem;
}
.navigation p {
  padding: 1rem;
}

#footer {
  background-color: #353535;
  height: 15rem;
}
#footer #logo-footer {
  color: #fff;
  font-family: shrikhand;
}
#footer ul, #footer li {
  color: #fff;
  margin: 1rem;
}
#footer a {
  margin-left: 0.5rem;
}
@media (min-width: 768px) {
  #footer {
    display: flex;
    flex-direction: row-reverse;
    height: 8rem;
    margin-top: 3.875rem;
  }
  #footer #logo-footer {
    margin-top: 3.125rem;
  }
  #footer ul {
    display: flex;
    margin-top: 4.125rem;
  }
}

@media (min-width: 768px) {
  body {
    width: 90%;
    background-color: darkgrey;
  }
}

#function__contenaire {
  background-color: #fff;
  height: 20.625rem;
  width: 100%;
}
@media (min-width: 768px) {
  #function__contenaire {
    height: 11rem;
  }
}
#function__contenaire h2 {
  padding: 1.5rem;
}
#function__contenaire .function__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
  margin-left: 0.02rem;
}
@media (min-width: 768px) {
  #function__contenaire .function__content {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
#function__contenaire .article__function {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 15.75rem;
  height: 3rem;
  padding: 0.9375rem 0.9375rem 0.9375rem 0rem;
  border: transparent;
  border-radius: 20px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.15);
}
#function__contenaire .article__function:hover {
  -webkit-box-shadow: 2px 1px 14px -3px #000;
  box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.6);
  background-color: #F5EDFF;
  transition: 0.9s;
  transform: scale(1.02);
}
#function__contenaire i {
  color: #9356dc;
}

.number {
  display: grid;
  align-items: center;
  height: 1.5625rem;
  width: 1.5625rem;
  position: relative;
  margin: unset;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 30px 30px 30px 30px;
  color: white;
  right: 8%;
  text-align: center;
}

.restaurants {
  background-color: #F7F7F7;
}

h2 {
  padding: 1.5rem;
}

.restaurants-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .restaurants-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 15.625rem;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 1.25rem;
  -webkit-box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.15);
}
.card:hover {
  -webkit-box-shadow: 2px 1px 14px -3px #000;
  box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
  .card {
    width: 40%;
  }
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 11.25rem;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
}

.new {
  position: absolute;
  right: 15px;
  top: 0rem;
  padding: 4px 7px 4px 7px;
  margin-top: 5%;
  font-size: 0.8125rem;
  background-color: #99E2D0;
  border: 0.0625rem solid #99E2D0;
  color: #008766;
}

.new p {
  margin: unset;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.card-txt {
  color: black;
  padding: 0.9375rem 0rem 0rem 0.625rem;
}

.card-title {
  margin: 0rem 0rem 0.3125rem 0rem;
}

.card-subtitle {
  margin: unset;
}

.card-heart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1.25rem;
  font-size: 1.5rem;
}
.card-heart .fa-solid {
  position: absolute;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.card-heart .fa-solid:hover {
  opacity: 1;
  transform: translateY() scale(1.2);
}

body {
  background: #fff;
}
@media (min-width: 768px) {
  body {
    margin: 0 auto;
    background-color: #fff;
  }
}

#food__logo {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
#food__logo .fa-arrow-left {
  margin-left: 1rem;
  font-size: xx-large;
  font-weight: 900;
}
#food__logo .img__logo {
  width: 100%;
  text-align: center;
}
#food__logo .img__logo img {
  width: 200px;
}

.resto-img {
  width: 100%;
}
.resto-img img {
  height: 18.75rem;
  width: 100%;
  object-fit: cover;
  object-position: 50% 70%;
}

.main-resto {
  height: 70.25rem;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 1.25rem 1.25rem 0 0;
  margin-top: -3.875rem;
}
@media (min-width: 768px) {
  .main-resto {
    margin: -3.875rem auto;
    width: 80%;
  }
}
.main-resto h1 {
  font-family: shrikhand;
  margin: 0.625rem 1.3125rem;
  font-size: 1.5625rem;
}
.main-resto .cartes {
  display: flex;
  justify-content: center;
  gap: 3.125rem;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .menu {
    margin: 0 9.375rem;
    width: 70%;
  }
}
.menu .title__carte {
  margin: 1rem;
  height: 1.8125rem;
  width: 5.625rem;
  text-align: center;
  border-bottom: 2px solid #2FAF94;
}
.menu .title__carte h2 {
  padding: 0;
}

.card-container {
  height: 16.25rem;
}
.card-container .card-menu {
  margin: 0.5rem;
  background-color: #fff;
  border-radius: 0.9375rem;
  animation: animMenu 5s;
}
.card-container .card-menu .card-content {
  position: relative;
  display: flex;
  padding: 1rem;
}
.card-container .card-menu .tile__menu {
  width: 19.75rem;
}
.card-container .price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  border-radius: 0 0.7rem 0.7rem 0;
  position: absolute;
  width: 60%;
  height: 2.625rem;
  right: 1rem;
  transition: margin-right 4s;
}
@media (max-width: 768px) {
  .card-container .price {
    width: 40%;
  }
  .card-container .price:hover {
    width: 25%;
  }
}
.card-container .price:hover {
  padding-right: 0.3rem;
  right: 3rem;
  width: 45%;
}
.card-container .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2FAF94;
  border-radius: 0 0.7rem 0.7rem 0;
  color: #fff;
  padding-left: 1rem;
  height: 2.5rem;
  width: 3.125rem;
}

#btn-contenaire {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
