#btn-contenaire{
  display: flex;
  justify-content: center;
}
.button{
    padding: 1rem;
        @include buttonBackground;
        @include first-shadows;
      }

       .button:hover, .button-2:hover {
          @include first-shadows-2;
          opacity: 0.7;  
        }

        .button-2{
          @include buttonBackground-2;
          @include first-shadows;
        }
        
        // animations
        .loader{
          border-radius: 10%;
          animation: disparate 3s 4s forwards;
      #plat{
        position: absolute;
        margin: auto;
        inset: 0 0 20% 0;
      animation: rotater 1 2s;
    }
    } 
    @keyframes disparate {
      
      0%{
        transform: scale(1);
      }
      100%{
        
        transform: scale(0);
        
      }
      
    }
    @keyframes rotater{
      0%{
        transform: rotate(360deg);
      }
      100%{
        transform: rotate(0deg);
      }
    }
    
    
     //animation menu
  #menu-1{
    animation: animMenu 1s;
  }
  @keyframes animMenu{
    0% {
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }
    #menu-2 {
      animation: animMenu 10s;
    }
  
    
        #menu-3 {
          animation: animMenu 20s;
        }
    
        