#btn-contenaire{
  display: flex;
  justify-content: center;
}
.button{
    padding: 1rem;
        @include buttonBackground;
        @include first-shadows;
      }

       .button:hover, .button-2:hover {
          @include first-shadows-2;
          opacity: 0.7;  
        }

        .button-2{
          @include buttonBackground-2;
          @include first-shadows;
        }
        
     // animation 
  
        @keyframes animMenu{
          0% {
              transform: translateY(0);
            }
          
            25% {
              transform: translateY(0.5rem);
            }
          
            75% {
              transform: translateY(-0.5rem);
            }
          
            100% {
              transform: translateY(0);
            }
        }
        
    