  .button{
    padding: 1rem;
        @include buttonBackground;
        @include first-shadows;
      }

       .button:hover {
          @include first-shadows-2;
          opacity: 0.7;  
        }
        
     //heart animation
    //Heart hover
        .fa-regular:hover{
          color: transparent;
       opacity: 0;
        
    }