//déclaration du border-radius
 .btn__gradient {
     background-image: $gradient;
     box-shadow: 3px 3px 7px 2px $shad;
     margin: 5px 0 30px 0;
     padding: 16px;
     border: transparent;
     border-radius: 25px;
     font-size: 14px;
     font-weight: 700;
     color: #fff;
 }