//Partie functioning

#function__contenaire{
    background-color: #fff;
    height: 20.625rem;
    width: 100%;
    
     & h2{
        padding:1.5rem; 
    }
       
    .function__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.25rem;
        margin-left: .02rem ;
      
    }
    
    .article__function{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 15.75rem;
        height: 3rem;
        padding: 0.9375rem 0.9375rem 0.9375rem 0rem;
        border: transparent;
        border-radius: 20px;
        background-color: $grey;
        @include first-shadows;
                
        &:hover{
            @include art-function;
        }
    }
    
        i {
            color: $color-primary;
        }
    }

.number{
    display: grid;
    align-items: center;
    height: 1.5625rem;
    width: 1.5625rem;
    position: relative;
    margin: unset;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    border-radius: 30px 30px 30px 30px;
    color: white;
    // padding: 0px 8px 0px 8px;
    right: 8%;
    text-align: center;

 
}

 // restaurants

.restaurants{
    background-color: #F7F7F7;   
    
}
h2{
   padding: 1.5rem;
  } 

  .restaurants-content{  
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
 
}

.card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    height: 15.625rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 1.25rem;
    @include first-shadows;
    
    &:hover{
        @include first-shadows-2;
    }
    
}
.card img {
    object-fit: cover;
    width: 100%;
    height: 11.25rem;
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
}

.new{
    position: absolute;
    right: 15px;
    top: 0rem;

    padding: 4px 7px 4px 7px;
    margin-top: 5%;
    font-size: 0.8125rem;
    background-color: #99E2D0;

    border: 0.0625rem solid #99E2D0;

    color: #008766;
}

.new p{
    margin: unset;
}

.card-content{
    display: flex;
    justify-content: space-between;
}

.card-txt{
    color: black;

    padding: 0.9375rem 0rem 0rem 0.625rem;
}

.card-title{
    margin: 0rem 0rem 0.3125rem 0rem;
}

.card-subtitle{
    margin: unset;
}

.card-heart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.25rem;
    font-size: 1.5rem;
   //animation heart
     .fa-solid{
        position: absolute;
        background-image: linear-gradient($color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: all 300ms ease-in-out;

        &:hover{
          opacity: 1;
          transform: translateY() scale(1.2);
        }
    }
    
}


