//RESET
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
     @media(min-width: 768px){
                width: 65.25rem;
                margin: 0 auto;
        }
    background: $grey;
}
//Début de la feuille dans la version mobile

#food__logo{
    display: flex;
    align-items: center;
    margin-top: 1rem;
 
    & .fa-arrow-left{
        margin-left: 1rem;
        font-size: xx-large;
        font-weight: 900;
    }
  
    .img__logo{
          width: 100%;
          text-align: center;
          img{
            width: 200px;
          }
          
      }
}

.resto-img{
   width: 100%;
   & img{
    height: 18.75rem;
    width: 100%;
    object-fit: cover;
    object-position: 50% 70%;
   }
}

.main-resto{
    height: 70.25rem;
    position: relative;
    background-color: $grey;
    border-radius: 1.25rem 1.25rem 0 0;
    margin-top: -1.875rem; 
    
    & h1{
        font-family: $shrikhand;
        margin: .625rem 1.3125rem ;
        font-size: 1.5625rem;
    }
    
    .cartes{
        display: flex;
        justify-content: center;
        gap: 3.125rem;
    }
    .fa-heart{
        margin-top: .1875rem;
        
    }
}

//menu
.menu{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    background-color:$grey;
    .title__carte{
        margin: 1rem;
       height: 1.8125rem;
       width: 5.625rem;
       text-align: center;
       border-bottom: 2px solid $green;
    & h2{
        padding: 0;
    }
    }
}

.card-container{
    height: 16.25rem;
    .card-menu{
        margin:  0.5rem;
        background-color: #fff;
        border-radius:0.9375rem; 
        .card-content{
            display: flex;
            padding: 1rem;
        }
    }
}
.price{
    display: grid;
    align-items: center;
}

