//RESET
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
     @media(max-width: 768px){   
             margin: 0 auto;
            background-color: #fff;
        }
    background: #fff;
}
//Début de la feuille dans la version mobile

#food__logo{
    display: flex;
    align-items: center;
    padding:1rem;
 
    & .fa-arrow-left{
        margin-left: 1rem;
        font-size: xx-large;
        font-weight: 900;
    }
  
    .img__logo{
          width: 100%;
          text-align: center;
          img{
            width: 200px;
          }
          
      }
}

.resto-img{
   width: 100%;
   & img{
    height: 60vh;
    width: 100%;
    object-fit: cover;
    object-position: 50% 55%;
   }
}

.main-resto{
    width: 80%;
    position: relative;
    background-color: $grey;
    border-radius: 1.25rem 1.25rem 0 0;
    margin: -3.875rem auto 0; 
    
    
    & h1{
        font-family: $shrikhand;
        margin: .625rem 1.3125rem ;
        font-size: 1.5625rem;
    }
    
    .cartes{
        display: flex;
        justify-content: center;
        gap: 3.125rem;
    }
  
}

//menu et animation

.menu{
    //animation in component
    width: 90%;
    margin: 0 auto;

    #menu__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
       
    }
    
    .card-container{
        height: 16.25rem;
        overflow: hidden;
        .card-menu{
            margin:  0.5rem;
            background-color: #fff;
            border-radius:0.9375rem; 
            animation: animMenu 5s;
            
            .card-content{
                background-color: #fff;
           
                cursor: pointer;
                position: relative;
                display: flex;
               
            }
            .tile__menu{
                width: 20.75rem;
                padding: 0.5125rem 0.625rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                p{
                overflow: hidden;
                text-overflow: ellipsis;
               } 
            }
        }
        .price{
            display: grid;
            align-items: flex-end;
            height: 3.5625rem;
            width: 4.6rem;
            padding: 1.875rem .3125rem;
            margin-left: auto;
          
    }
        .check{
            display: flex;
            align-items: center;
            background-color: $color-tiertiary;
            border-radius: 0 0.7rem 0.7rem 0;
            color: #fff;
            font-size: 1.25rem;
            padding-left: 1rem;
            height: 3.5670rem;
            width: 3.120rem;
            transition: all 0.5s;
            margin-right: -3.625rem;
            & .fa-circle-check{
           transform: rotate(70deg);
           transition: all 1.5s;
            }
        }
        :hover .check{
            margin-right: 0;
            & .fa-circle-check{
                 transform: rotate(0deg);
            }
        }

        
        #btn-contenaire{
            display: flex;
            justify-content: center;
            margin-top: 1rem;
}
}

}
