//Partie functioning
#function__contenaire{
    background-color: #fff;
    height: 20.625rem;
    width: 100%;
     & h2{
        padding:1.5rem; 
    }
    .function__content{
        display: flex;
        padding: .1rem;
        margin-bottom: .2rem;
        
    }
    
    .function__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.25rem;
        margin-left: .02rem ;
    }
    
    .article__function{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 18.75rem;
        height: 3rem;
        padding: 0.9375rem 0.9375rem 0.9375rem 0rem;
        border: 1px solid #F7F7F7;
        border-radius: 20px;
        background-color: $grey;
        @include first-shadows;
                
    }
}