//Partie functioning
#function__contenaire{
    background-color: #fff;
    height: 20.625rem;
    width: 100%;
     & h2{
        padding:1.5rem; 
    }
    
    .function__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.25rem;
        margin-left: .02rem ;
    }
    
    .article__function{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 15.75rem;
        height: 3rem;
        padding: 0.9375rem 0.9375rem 0.9375rem 0rem;
        border: transparent;
        border-radius: 20px;
        background-color: $grey;
        @include first-shadows;
                
        &:hover{
            @include art-function;
        }
    }
    
        i {
            color: $color-primary;
        }
    }
.number{
    display: grid;
    align-items: center;
    height: 1.5625rem;
    width: 1.5625rem;
    position: relative;
    margin: unset;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    border-radius: 30px 30px 30px 30px;
    color: white;
    // padding: 0px 8px 0px 8px;
    right: 8%;
    text-align: center;

 
}